@font-face{
    font-family: "OpenSans";
    src: url("fonts/OpenSans-VariableFont_wdth\,wght.ttf")
}
body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
    background-color: blueviolet;
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
}
/*********** header **********/
.header{
    grid-column: 2/4;
    background-color: blue;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

/********** sidebar left side *********/
.sidebar-left{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #4338ca;
    color: #eef2ff;

    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 10vh;
}
.dashboard{
    height: 50px;
    display: grid;
    grid-template-columns:max-content 1fr;
    align-items: center;
    font-size: larger;
    font-weight: 900;
    padding: 8px;
}
.dashboard img{
    height: 40px;
}
.dashboard .logo-text{
    padding-left: 8px;
}
.navigation-bar div, .setting-bar div{
    height: 30px;
    display: grid;
    grid-template-columns:max-content 1fr;
    align-items: center;
    padding: 7px;
    transition-property: background-color;
    transition-duration: 400ms;
    padding-left: 13px;
}
.navigation-bar div:hover, .setting-bar div:hover{
    background-color: #3730a3;
    cursor: pointer;
}
.navigation-bar div span:nth-child(2), .setting-bar div span:nth-child(2){
    padding-left: 7px;
}
/***** main(cards and "your project") ********/
.main{
    grid-column: 2/3;
    background-color: gray;
    
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px 10px;
}
.main-head{
    
}
.main-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}
.main-cards > div{
    border: 1px solid black;
}
/******* sidebar right side **********/
.sidebar-right{
    grid-column: 3/4;
    background-color: aqua;

    display: grid;
    grid-template-columns: 1fr;
}