@font-face{
    font-family: "OpenSans";
    src: url("fonts/OpenSans-VariableFont_wdth\,wght.ttf")
}
body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    min-height: 100vh;
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
}
/*********** header **********/
.header{
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0px 0px 5px 2px rgba(90, 89, 89, 0.2);
    position: relative;
}

.search-bar{
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    height: 40px;
    padding: 20px 20px 20px 50px;
    gap: 15px;
}
.search-bar input{
    border-radius: 20px;
    border: 0;
    padding: 8px 13px;
    background-color: #e7e7e7;
}
.search-bar input:focus{
    outline: none;
}

.profile{
    display: grid;
    grid-template-columns: repeat(3,max-content);
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 20px 50px;
    gap: 20px;
}
.profile .profile-picture img{
    height: 40px;
    border: 1px solid rgb(184, 183, 183);
    border-radius: 50%;
    image-rendering: pixelated;
}
.profile .profile-name{
    font-weight: 800;
    font-size: large;
}

.welcome{
    display: grid;
    grid-template-columns: max-content 1fr;
    align-content: center;
    height: 60px;
    padding: 20px 50px;
    gap: 2px 20px;
}
.welcome-picture{
    grid-row: 1/3;
}
.welcome-picture img{
    height: 65px;
    border-radius: 50%;
    image-rendering: pixelated;
    border: 1px solid rgb(184, 183, 183);
}
.welcome-message{
    align-self: center;
}
.welcome-profile{
    font-size: larger;
    font-weight: 700;
    align-self: center;
}

.user-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    height: 60px;
    padding: 20px 50px;
    gap: 2px 20px;
}
.user-buttons button{
    border: 0;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    color: #eef2ff;
    font-weight: 900;
    background-color: #6366f1;
}
.user-buttons button:hover{
    background-color: #4f46e5;
    cursor: pointer;
    transition: 400ms;
}
/********** sidebar left side *********/
.sidebar-left{
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: #4338ca;
    color: #eef2ff;

    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 10vh;
    position: relative;
    z-index: 1;
}
.dashboard{
    height: 50px;
    display: grid;
    grid-template-columns:max-content 1fr;
    align-items: center;
    font-size: larger;
    font-weight: 900;
    padding: 8px;
}
.dashboard img{
    height: 40px;
}
.dashboard .logo-text{
    padding-left: 8px;
}
.navigation-bar div, .setting-bar div{
    height: 30px;
    display: grid;
    grid-template-columns:max-content 1fr;
    align-items: center;
    padding: 7px;
    transition-property: background-color;
    transition-duration: 400ms;
    padding-left: 13px;
}
.navigation-bar div:hover, .setting-bar div:hover{
    background-color: #3730a3;
    cursor: pointer;
}
.navigation-bar div span:nth-child(2), .setting-bar div span:nth-child(2){
    padding-left: 7px;
}
/***** main(cards and "your project") ********/
.main{
    grid-column: 2/3;
    grid-row: 2/4;
    background-color: #e7e7e7;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    padding: 5px 10px;
}
.main-head{
    align-self: end;
    font-weight: 700;
    font-size: larger;
    margin-bottom: 5px;
}
.main-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px ,1fr));
    gap: 20px;
}
.card{
    min-height: 230px;
    max-height: 250px;
    background-color: #eef2ff;
    border-radius: 10px;
    position: relative;
    display: grid;
    grid-template-columns: 20px 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    box-shadow: 0px 0px 5px 2px rgba(90, 89, 89, 0.5);
}
.card .side-line{
    background-color: #3730a3;
    width: 10px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    grid-column: 1/2;
    grid-row: span 3;
}
.card .main-title{
    grid-column: 2/span 4;
    align-self: end;
    font-weight: 800;
    font-size: medium;
}
.card .main-text{
    grid-column: 2/span 4;
    color: #5c5c5c;
}
.card .edit{
    grid-column: 3/4;
}
.edit img:hover{
    background-color: #e0e7ff;
    border-radius: 5px;
    cursor: pointer;
}
.card .eye-viewed{
    grid-column: 4/5;
}
.eye-viewed img:hover{
    background-color: #e0e7ff;
    border-radius: 5px;
    cursor: pointer;
}
.card .fork{
    grid-column: 5/6;
}
.fork img:hover{
    background-color: #e0e7ff;
    border-radius: 5px;
    cursor: pointer;
}

/******* sidebar right side **********/
.sidebar-right{
    grid-column: 3/4;
    grid-row: 2/4;
    background-color: #e7e7e7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 40px 1fr;
    padding: 5px 10px;
}
.sidebar-right .announcement-head{
    align-self: end;
    font-weight: 700;
    font-size: larger;
    grid-row: 1/2;
    margin: 5px;
}
.sidebar-right .announcement-cards{
    grid-row: 2/3;
    background-color: #eef2ff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(90, 89, 89, 0.5);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px;
}
.announcement-cards > div{
    padding: 10px 0;
}
.announcement-cards > div:nth-child(2){
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
}
.announcement-cards .announcement-title{
    font-weight: 800;
    font-size: medium;
}
.announcement-cards .announcement-text{
    color: #5c5c5c;
    font-size: small;
}
.sidebar-right .trending-head{
    align-self: end;
    font-weight: 700;
    font-size: larger;
    grid-row: 3/4;
    margin: 5px;
}
.sidebar-right .trending-cards{
    grid-row: 4/5;
    background-color: #eef2ff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(90, 89, 89, 0.5);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 20px;
}
.sidebar-right .trending-cards > div{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr 1fr;
}
.sidebar-right .trending-icon{
    grid-row: 1/3;
    margin-right: 10px;
}
.sidebar-right .trending-name{
    grid-row: 1/2;
}
.sidebar-right .trending-description{
    grid-row: 2/3;
    color: #5c5c5c;
    font-size: small;
}
.sidebar-right .trending-icon img{
    height: 40px;
    border: 1px solid rgb(184, 183, 183);
    border-radius: 50%;
    image-rendering: pixelated;
}